.fa-user-plus{
	font-size: 120px;
	margin-left: 110px;
	margin-top: 100px;

}
.fa-file-text{
	font-size: 120px;
	margin-left: 100px;
	margin-top: 50px;

}

.icon-factura_recurrente{
	font-size: 260px;
	margin-left: 75px;
}

.text-up{
	margin-top: -30px;
	margin-right: -40px;
}


.fa-th-list{
	font-size: 120px;
	margin-left: 100px;
	margin-top: 50px;

}
.well-edit{
	margin-top: 15px;
}

.modal-content{
	width: 800px;
}

.modal-body{
	margin-bottom: -50px;
}

.content-wrapper-2{
 min-height: 100%;
  background-color: #fff;
  z-index: 800;
}

.modal-footer-edit{
	margin-top: -30px;
}

                        